body {
	background: linear-gradient(45deg, #e4ee52, #56e73c, #23a6d5, rgb(29, 1, 242));
	background-size: 1000% 1000%;
	animation: gradient 10s ease infinite;
	height: 100vh;
	text-align: center;
	box-sizing: border-box;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.material-symbols-outlined {
	text-decoration: none;
	color: white;
	font-size: 5rem;
	text-shadow: 0 0 10px black;
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 48
}

.arvo-regular {
	font-family: "Arvo", serif;
	font-weight: 400;
	font-style: normal;
}

.arvo-bold {
	font-family: "Arvo", serif;
	font-weight: 700;
	font-style: normal;
	color: white;
	text-shadow: 0px 0px 10px black;
}

.arvo-regular-italic {
	font-family: "Arvo", serif;
	font-weight: 400;
	font-style: italic;
}

.arvo-bold-italic {
	font-family: "Arvo", serif;
	font-weight: 700;
	font-style: italic;
}
.home {
	display: flex;
	align-items: center;
}
.hometitle{
	text-decoration: none;
	color: white;
	font-size: 3rem;
	text-shadow: 0px 0px 10px black;
	padding: .3rem;
	border: 5px solid rgb(255, 255, 255);
	border-radius: 1rem;
	margin-left: 1rem;;
}

.arvo-bold-italic-nav {
	font-family: "Arvo", serif;
	font-weight: 700;
	font-style: italic;
	display: flex;
	justify-content: center;
}
.mountainImage{
	margin-top: 1.5rem;
	border: .5rem solid white;
	border-radius: 3rem;
}
#mountainSelect{
margin-top: 1.5rem;
}
.desc{
	font-size: large;
}
#mountainResults{
	margin: auto;
	width: 25%;
}
